body
{
    background-color: black;
}
.name 
{
    text-align: center;
    font-size: 40px;
    margin: 3px;
    background-color: darkgrey;
}


.demo
{
    margin: 10px;
    columns: 3;
    display: flex;
    justify-content: center;
}
.demo-img
{
    width: 400px;
    height: 300px;
    margin: 10px;
    text-align: center;
}
.demo-img img
{
    width: 400px;
    height: 200px;   
}
/*買賣介面*/
.list-text
{
    background-color: dimgray;
    width: 400px;
    height: 100px;
}
.list-name
{
    margin: 2px;
}
.list-price
{
    margin: 2px;
}